body {
	overflow-x: scroll;
}


/*reward of Gandalf + span ----------------------------------------------------------------------------------------*/




/*img of Gandalf / text positionning -------------------------------------------------------------------------------*/
.imgofgandalf {
  position: relative;
  max-width: 500px;
  text-align: center;  
}

/*img of Gandalf / opacity ----------------------------------------------------------------------------------------*/
.picture {
  opacity: .5;
}

/*text of Gandalf ----------------------------------------------------------------------------------------*/
.nametext {
  position: absolute;
  color:white;
  font-size:6em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

/*reward of Gandalf + span ----------------------------------------------------------------------------------------*/
.rewardtext {
  position: absolute;
  width : 400px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  color: black;
  top: 0;
  font-size: 3em;
  margin: 26px;
  padding: .5em ;
  opacity: 1;
}

span {
  color: #FE6B0A;
}

/*hover reaction ! ----------------------------------------------------------------------------------------*/
.imgofgandalf:hover .rewardtext {
  opacity : 0;
}

.imgofgandalf:hover .picture {
  opacity : 1;
}

.imgofgandalf:hover .nametext{
  font-size:3em;
  top:80%;
}
